/* Page styling expand to Google Fonts */
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  background-image: linear-gradient(#b3bcf4, #4e60a0, #2540f5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header */
#main-header {
  background: #4caf50;
  color: white;
  text-align: center;
  padding: 30px;
}

.site-title {
  font-size: 36px;
}

.tagline {
  font-style: italic;
}

/* Navigation */

#navbar {
  background: #333;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-menu a:hover {
  color: yellow;
}

/* Sections */

.content {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.section-title {
  color: #4caf50;
}

/* Image */

.profile-image {
  width: 300px;
  border-radius: 25px;
  border: 3px double #0c0c0c;
}

/* Lists */

.service-list {
  padding-left: 20px;
}

/* Table */

#course-table {
  width: 100%;
  border-collapse: collapse;
}

#course-table th {
  background: #4caf50;
  color: white;
}

#course-table th,
#course-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Form */

#contact-form {
  margin-top: 10px;
}

fieldset {
  border: 2px solid #4caf50;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: #4caf50;
}

.input-box {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #3b3a3a;
}

textarea {
  resize: vertical;
}

/* Button */

.submit-btn {
  background: #4caf50;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
}

.submit-btn:hover {
  background: #2e7d32;
}

/* Footer */

#main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

#main-footer a {
  color: lightblue;
  text-decoration: none;
}

#main-footer a:hover {
  color: navy;
  text-decoration: underline;
}

/* Responsive Design */

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 100%;
  }
}
